@import '../../variables';

li {
  .todo-item {
    input[type=checkbox] {
      margin-right: 10px;
    }

    svg {
      position: relative;
      top: 1px;
      float: right;
      cursor: pointer;
      color: $blue;
      transition: color 300ms;

      &:hover {
        color: $blueHover;
      }

      &.fa-w-18 {
        margin-right: 5px;
      }
    }
  }
}