$color : #555555; 

.missingapi-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(270deg, #003366, #b27000, #06617d, #067370);
  background-size: 800% 800%;
  -webkit-animation: colors 30s ease infinite;
  -moz-animation: colors 30s ease infinite;
  animation: colors 30s ease infinite;
  z-index: 999;
  display: none;

  &.active {
    display: block;
  }

  .missingapi-container {
    margin: auto;
    width: 90%;
    margin-top: 50px;
  }

  h1 {
    text-align: center;
    border: 3px solid #FFF;
    padding: 20px;
    font-size: 5vw;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: -5px;
    color: #fff;
    margin-bottom: 50px;
  }

  p {
    color: #FFFFFF;
    font-size: 18px;

    a {
      color: #6fcee6;
      text-decoration: underline;
    }
  }

  .box-shadow {
    text-align: left;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    background: darken($color, 3%);
    box-shadow: 
      1px 1px 8px darken($color, 3%) inset, 
      0 0 0 darken($color, 15%) inset, 
      1px 1px 1px lighten($color, 15%), 
      -1px -1px 1px darken($color, 25%), 
      -1px 0px 15px darken($color, 15%) inset;
  
    p {
      outline: none;
      font: {
        family: Open Sans, sans-serif;
        size: 18px;
      }
      margin: 0; 
      padding: 0; 
      text-shadow: 
          1px 1px 1px lighten($color, 2%), 
          -1px -1px 1px darken($color, 2%);
    }
  }
}